<div class="container">
 	<div class="jumbotron text-center">
		<h1>Burger Bar</h1>
		<hr>
		<p>Welcome! Please add any burger you wish to eat then devour it!</p>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<img src="./assets/img/burger.png">
		</div>
		<div class="col-md-3">
		</div>
	</div>
<!-- end of header -->
<!-- display burgers -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="text-center">Burgers Available</h2>
					<ul>
						<!-- uses a flag passed from the controller to check if the list is empty -->
						{{#if resultsObj.noBurgers }}
							<p class="text-center">Sorry no burgers to devour!</p>
						{{/if}}
						{{#if resultsObj.burgers }}
							<div class="row"><p>Please enter your name to devour a burger of your choice!</p></div>
						{{/if}}
					  	{{#each resultsObj.burgers}}
						    <li>
						    	<!-- updating the devoured field so this is a put action -->
					       		<form action="/{{this.id}}?_method=PUT" method="POST">
				       				<p class="burger-list-items"><strong># {{this.id}}</strong>  | {{this.burger_name}} <em><strong> created by </strong></em> {{this.Customer.customer_name}} </p>
				       				<p class="input-form"><div class="form-input-title">Your Name:</div><input type="text" name="customer_name" id="customer-input" maxlength="32"></textarea></p>
					        		<button class="btn btn-warning"  id="devour" type="submit">Devour it!</button>
					        	</form>
						    </li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>



		<div class="col-xs-12 col-md-6">
			<div class="panel panel-devoured">
				<div class="panel-body">
					<h2 class="text-center">Burgers Devoured</h2>
					<ul>		
						<!-- uses a flag passed from the controller to check if the list is empty -->
						{{#if resultsObj.noDevoured }}
							<p class="center">No burgers have been devoured!</p>
						{{/if}}
						{{#each resultsObj.devoured}}
						    <li>
						    	<!-- removing from database so this is a delete action -->
						        <form action="/{{this.id}}?_method=DELETE" method="POST">
					       			<p class="burger-list-items"><strong># {{this.id}}</strong>  | {{this.burger_name}} <em><strong> devoured by </strong></em>  {{this.Customer.customer_name}}</p>
					        		<button class="btn btn-danger"  id="delete" type="submit">Remove</button>
						        </form>
						    </li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end of display burgers -->
	
		<div class="col-xs-12 col-md-12">
			<div class="panel panel-glutton">
				<div class="panel-body">
					<div class="md-col-3"></div>
					<div class="md-col-6">
					    {{#if resultsObj.noDevoured }}
					    	<h2 class="text-center">Current Burger Eating Champion</h2>
					    	<p class="text-center">Do you want your name here as the burger eating champion?</p>
					    {{/if}}
						{{#if resultsObj.glutton }}
							<p class="text-center"><h2 class="text-center">Who devoured all the burgers?</h2></p>
						{{/if}}
						{{#each resultsObj.glutton}}
							<p class="burger-champ text-center"><strong>{{this.customer_name}}</strong> devoured the most Burgers. </p>
							<p class="burger-champ text-center"> Total: {{this.likecount}} Burger(s)!<em>
						{{/each}}
					</div>
					<div class="md-col-3"></div>
				</div>
			</div>
		</div>

	<!-- add new burger -->
	<div class="row text-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">		
			<h2 class="text-center">Add a Burger</h2>
			<p>Please enter your name and add a burger of your choice!</p>
			<form method="POST" action="/" id="submit-form" class="text-center">
				<p class="input-form"><div class="form-input-title">Your Name:</div><input type="text" name="customername" id="customer-input" maxlength="32"></textarea></p>
				<p class="input-form"><div class="form-input-title">Burger:</div><input id="burger-input" type="text" name="burgername" maxlength="32"></textarea></p>
				<p class="input-form"><button class="btn btn-info" type="submit" id="submit-button">Add Burger</button><br></p>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
	<!-- end of add new burger -->
</div>  <!-- end of container	-->

